/* Galeria.module.css */
.sliderContainer {
  /* Estilos para el contenedor del carrusel */
  /* ... */
}

.image {
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden; /* Asegura que la imagen se ajuste al círculo */
  width: 200px; /* Ajusta el tamaño de la imagen */
  height: 200px; /* Ajusta el tamaño de la imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste dentro del círculo */
  margin: 10px; /* Espacio entre las imágenes */
}
