@import '../../styles/variables.scss';

.footer {
  margin: 0 auto;
  max-width: 768px;
  padding: 64px 32px;

  .light-mode {
    background-color: $background-color-light;
    color: $brand-text-light;
  }

  .dark-mode {
    background-color: $background-color-dark;
    color: $brand-text-dark;
  }
}