@import 'src/app/styles/variables.scss';
.theme-toggle {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0.5rem ;
  transition: color 500ms ease-in-out;

  &-icon {
    font-size: 24px;
  }

  &.dark {
    color: $brand-text-light;
  }

  &.light {
    color: $brand-accent-dark;
  }
}
