<<<<<<< HEAD
/* Configuración de caja para todos los elementos, incluyendo pseudo-elementos */
*, 
*::before,
*::after
{
  box-sizing: border-box;
}

/* Restablecer márgenes y rellenos en todos los elementos */
*
{
  margin: 0;
  padding: 0;
}

/*Fuente principal para el cuerpo de la página */
body {
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


/* Pagina principal */
:root{
  --Yellow:#f9d42d;
  --black:#1D2F3D;
  --light-color:#666;
  --border:.1rem solid rgba(0,0,0,.1);
}

*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition:all .2s linear;
  transition:width none;
  font-family: "Poppins", sans-serif;
}


h1{
color: var(--black)
}


h6{
font-size: 30px;
color: #fff;
margin-bottom: 10px;
text-align: center;
margin-left: 3rem;
}

p{
color: black;
}


/*----------------------------------*/
/* Scrollbar */
/*----------------------------------*/

html{
  font-size: 65.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background:transparent;
}

html::-webkit-scrollbar-thumb{
  background:var(--black);
}



section{
  padding:5rem 9%;
}


/*----------------------------------*/
/* Estilizando la seccion introduccion */
/*----------------------------------*/
.introduccion {
  background: url(/public/Imagenes/foto1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; 
  z-index: -1;
  padding:46rem 0;
}

.introduccion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor de "0.5" para ajustar la opacidad */
  pointer-events: none; 
  z-index: -1;
}

.introduccion form{
  max-width: 60rem;
  text-align: center;
}

.introduccion form h3{
  font-size: 2rem;
  color:#fff;
  padding-bottom: .7rem;
  margin-left: 4rem;
  font-weight: normal;
}


.introduccion .btn{
  margin-top: 1rem;
  display:inline-block;
  padding:.9rem 3rem;
  border-radius: .5rem;
  margin-left: 4rem;
  color:#fff;
  background:var(--Yellow);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.introduccion .btn:hover{
  background:var(--black);
}




/*----------------------------------*/
/* Estilizando la seccion */
/*----------------------------------*/
.image{
  width: 100%;
  height: auto;
}

.informacion{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
}

.informacion .content{
  flex:1 1 42rem;
}

.informacion .image{
  flex:1 1 42rem;
}



.informacion .content h4{
  color:black;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.informacion .content h1{
  font-size: 4rem;
}

.informacion .content p{
  padding:1rem 0;
  font-size: 1.4rem;
  line-height: 2;
}



.videoWrapper{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}











@media screen and (max-width: 1190px) {
  .videoWrapper iframe {
      width: 100%; 
      height: 300px; 
  }
  header .logo { 
  margin-left: 7px;

}
header{
  width: 100%;
  align-items: center;
}

header.sticky {
  padding: 15px 100px; 
}

header.sticky .logo {
  margin-right: 70px; 
  margin-left: -73px;

}

header.sticky #Menu-btn {
  margin-right: 70px; 
}

}





/*----------------------------------*/
/* El boton aparece y el menu normal desaparece */
/*----------------------------------*/
@media screen and (max-width: 1190px) {
  .Menu-btn {
      display: block;
  }

  
  header ul {
      display: none;
  }
}


/*----------------------------------*/
/* se ajusta el contenido para moviles y tablets */
/*----------------------------------*/
@media (max-width:1190px){

  html{
      font-size: 55%;
  }

  header{
      padding:2rem;

  }

  section{
      padding:3rem 2rem;
  }


}


/*----------------------------------*/
/* se ajusta el contenido para moviles y tablets */
/*----------------------------------*/
@media (max-width:768px){

  html{
      scroll-padding-top: 0;
      font-size: 45%;
  }

  body{
      padding-bottom: 6rem;
  }
}







/*----------------------------------*/
/* Menu para moviles muy pequeños */
/*----------------------------------*/
@media (max-width:300px){


header .logo-image {
    height: 8rem;
    width: 18rem;
    margin-left: -10px;
}

header #Menu-btn {
  font-size: 20px;
}

/* Tamaño del switch*/
header .switch {
    width: 40px;    
    height: 26px;   
    font-size: 14px; 
}

/* Tamaño del circulo de switch */
header .switch::after {
    width: 25px;
    height: 25px;
}

/*Espacio en medio de las opciones */
header.sticky .logo {
  margin-right: 30px; 
  margin-left: -85px;
}

header.sticky #Menu-btn {
  margin-right: 50px; 
}


}



