/* Configuración de caja para todos los elementos, incluyendo pseudo-elementos */
*, 
*::before,
*::after
{
  box-sizing: border-box;
}

/* Restablecer márgenes y rellenos en todos los elementos */
*
{
  margin: 0;
  padding: 0;
}

/*Fuente principal para el cuerpo de la página */
body {
  font-family: 'Poppins', sans-serif;
}