/* Intro.module.css */

.parallaxContainer {
  display: flex;
  flex-direction: column;
}

.parallaxLayer {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bg1 {
  background-color: #f9d42d;
}

.bg2 {
  background-image: url('./Inicio.jpg');
}

.bg3 {
  background-image: url('./equipo.jpg');
}

.parallaxLayer h1 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  z-index: 2; /* Asegurar que el texto esté sobre la imagen de fondo */
}
