/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9d42d; /* Establece el fondo de la página */
    background-size: cover; /* Escala la imagen de fondo para que cubra todo el espacio disponible */
}

/* Estilos para la galería de imágenes */
.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d; /* Configura la representación en 3D */
    transform: perspective(1000px) rotateY(0deg); /* Configura la perspectiva y la rotación inicial */
}

.image-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d; /* Configura la representación en 3D */
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(500px); /* Aumenta la distancia entre las imágenes */
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004); /* Crea un reflejo debajo de las imágenes */
}

.image-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra todo el espacio */
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    transition: transform 0.3s; /* Transición suave en la transformación al cambiar la imagen */
}

.info-box {
    display: none;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-info:hover .info-box {
    display: block;
}
 /* Estilos para el título animado */
 .title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 10px; /* Ajusta la posición del título encima de las imágenes */
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 2s ease;
    z-index: 2; /* Coloca el título por encima de las imágenes */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
