$brand-accent-light: #f9d42d;
$brand-accent-dark: #212121;
$background-color-light: #fff;
$background-color-dark: #212121;
$brand-text-light: #1D2F3D;
$brand-text-dark: #fff;

$light-text: #a1a1a1;

$font-family: Poppins, sans-serif;
$font-family-heading: Anton, sans-serif;

$border: 0.1rem solid rgba(0, 0, 0, 0.1);
