$brand-accent-light:  #f9d42d;
$brand-text-light:   #1d2f3d;
$background-color-light:   #fff;

$brand-accent-dark:  #1d2f3d;
$brand-text-dark:   #f9d42d;
$background-color-dark:    #212121;

$font-family:  Poppins, sans-serif;

