@import '@/app/styles/variables.scss';

.light-mode {
  background-color: $background-color-light;
  color: $brand-text-light;
}  

.dark-mode {
  background-color: $background-color-dark;
  color: $brand-text-dark;
}
